<%- include('partials/_head.ejs') %>
<%- include('partials/_header.ejs') %>

<div class="container mt-5">
    <h2>Create Feedback Form</h2>
    <form action="/create-form" method="POST" id="createForm">
        <input type="hidden" name="_csrf" value="<%= csrfToken %>">
        <div class="mb-3">
            <label for="title" class="form-label">Form Title</label>
            <input type="text" class="form-control" id="title" name="title" required>
        </div>
        </div>
        <%- include('partials/_pageManager.ejs') %>
        <div id="page-content-container" style="display: none;">
            <div id="questionsContainer">
                </div>
            <button type="button" id="addQuestionBtn" class="btn btn-secondary mb-3 bokeh-button">Add Another Question</button>
        </div>
        <button type="submit" class="btn btn-primary bokeh-button" style="background-color: #007bff;">Submit</button>
    </form>
</div>

<%- include('partials/_footer.ejs') %>
<script src="/js/idGenerator.js"></script>
<script src="/js/pageManager.js"></script>